Source: dehydrated-lite
Section: utils
Priority: optional
Maintainer: Gea-Suan Lin (PPA) <gslin@gslin.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7
Homepage: https://dehydrated.de/
Vcs-Git: https://github.com/lukas2511/dehydrated.git
Vcs-Browser: https://github.com/lukas2511/dehydrated

Package: dehydrated-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, openssl, sed
Description: letsencrypt/acme client implemented as a shell-script.
 A client for signing certificates with an ACME-server (currently only provided
 by letsencrypt) implemented as a relatively simple bash-script.
